@page "/"

@using Microsoft.AspNetCore.Components
@using Tree.Client.Data
@inject TreeService TreeService

@if (tree == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="tree">
        <ul class="treeNodes">
            @((MarkupString)tree)
        </ul>
    </div>
}

@code {
    string tree;

    protected override async Task OnInitializedAsync()
    {
        tree = await TreeService.BuildTreeAsync();
    }
}